Repository Exawind/nalu-wind, pull requests merged in 2020-01, with the labels that each got.

#490 Hypre regression tests moved into guarded block
  reg_tests/CTestList.cmake
Labels: bug

#494 Airfoil tests using Trilinos solver stack, see issue #492
  reg_tests/CTestList.cmake
  reg_tests/test_files/airfoilRANSEdgeTrilinos/airfoilRANSEdgeTrilinos.i
  reg_tests/test_files/airfoilRANSEdgeTrilinos/airfoilRANSEdgeTrilinos.norm.gold
  reg_tests/test_files/airfoilRANSElemTrilinos/airfoilRANSElemTrilinos.i
  reg_tests/test_files/airfoilRANSElemTrilinos/airfoilRANSElemTrilinos.norm.gold
  reg_tests/xml/milestone_aspect_ratio_gs.xml
Labels: NGP, enhancement

#495 Convert Udiag field update to NGP and other NGP cleanups
  include/HypreLinearSystem.h
  include/HypreUVWLinearSystem.h
  include/LinearSystem.h
  include/TpetraLinearSystem.h
  include/TpetraSegregatedLinearSystem.h
  src/HypreLinearSystem.C
  src/HypreUVWLinearSystem.C
  src/LowMachEquationSystem.C
  src/Realm.C
  src/TpetraLinearSystem.C
  src/TpetraSegregatedLinearSystem.C
  src/ngp_algorithms/GeometryAlgDriver.C
  src/ngp_algorithms/NodalGradAlgDriver.C
Labels: NGP

#488 Address code review of first AssembleNodalGradPOpenBoundaryAlgorithm
  include/kernel/MomentumBodyForceSrcElemKernel.h
  include/ngp_algorithms/NodalGradPOpenBoundaryAlg.h
  src/AssembleNodalGradPOpenBoundaryAlgorithm.C
  src/ngp_algorithms/CMakeLists.txt
  src/ngp_algorithms/GeometryBoundaryAlg.C
  src/ngp_algorithms/NodalGradPOpenBoundaryAlg.C
  unit_tests/CMakeLists.txt
  unit_tests/UnitTestNodalGradPOpenBoundary.C
  unit_tests/UnitTestUtils.h
  unit_tests/kernels/UnitTestKernelUtils.h
  unit_tests/ngp_algorithms/CMakeLists.txt
  unit_tests/ngp_algorithms/UnitTestNodalGradPOpenBoundary.C
Labels: NGP

#503 Fix issues with #495 and resubmit
  include/HypreLinearSystem.h
  include/HypreUVWLinearSystem.h
  include/LinearSystem.h
  include/TpetraLinearSystem.h
  include/TpetraSegregatedLinearSystem.h
  src/HypreLinearSystem.C
  src/HypreUVWLinearSystem.C
  src/LowMachEquationSystem.C
  src/Realm.C
  src/TpetraLinearSystem.C
  src/TpetraSegregatedLinearSystem.C
  src/ngp_algorithms/GeometryAlgDriver.C
  src/ngp_algorithms/NodalGradAlgDriver.C
Labels: NGP

#505 NGP: Replace open BC nodal grad for pressure in LowMach
  include/AssembleNodalGradPOpenBoundaryAlgorithm.h
  include/ngp_utils/NgpCreateElemInstance.h
  reg_tests/test_files/ablUnstableEdge/ablUnstableEdge_rst.norm.gold
  src/AssembleNodalGradPOpenBoundaryAlgorithm.C
  src/CMakeLists.txt
  src/LowMachEquationSystem.C
Labels: NGP
